@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Dosis:wght@200;300;400&family=Edu+SA+Beginner&family=Itim&family=PT+Sans&family=Philosopher:wght@700&family=Poiret+One&family=Ysabeau+Infant:wght@1;100&display=swap');

/* font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Itim', cursive;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Ysabeau Infant', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}

/* BARRA NAVEGACION */

.navbar {
    background-color: #09687e;
    box-shadow: 10px 10px 15px;
    position: sticky;
    /* position: -webkit-sticky; */
    top: -1px;
    /* font-weight: 500; */

}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding: ;


}

.nav-link {
    /* color: yellow !important; */
    color: white !important;


}

.nav-item:hover {
    background-color: #ef4d75;
    border-radius: 5px;
}

.nav-icon {
    border-radius: 50%;
    width: 90px;
    padding: 2px;
    margin-right: 10px;
    box-shadow: 0px 0px 15px;
    /* Espacio entre la imagen y el span */
}

.jumbotron {


    background-image: url(img/Color\ Space.png);
    background-size: cover;
    background-position: center;
    border-top: 0px solid white;


    /* color: yellow !important;  */
}

.jumbotron h1 {
    color: white;
    text-shadow: 0px 0px 1px white;
    text-align: center;


}


.button1 {
    display: flex;
    justify-content: center;
    background-color: #ef4d75;
    color: white;
    border: 1px dotted white;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 35px;
    font-size: 20px;

}

.button1:hover {
    background-color: plum;
    color: #333;

}

.jumbotron .btn:hover {
    background-color: plum;
    color: white
}

/* .jumbotron .btn:active {
    border: 3px solid rgba(0, 128, 0, 0.6)
}  */

h2 {
    background-color: white;
    padding: 0px;
    margin-bottom: none;
}



.nleft {
    height: 450px;
    width: 350;
    background-image: url(img/captura-proyecto.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 20px;
}

.nright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* footer */
footer {
    width: 100%;
    background-color: #073846;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 20px;
    

}

footer p {
    margin-bottom: 20px;
}

.redes a {
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.redes i {
    letter-spacing: 20px;
}

.subir {
    height: 40px;
    width: 40px;
    color: #073846;
    background-color: white;
    position:fixed;
    right: 40px;
    bottom: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    box-shadow: 0 0 8px #073846;

}
/* FIN HOME */

/* INICIA SOBRE MI */

.nleft-sobremi {
    height: 450px;
    width: 350;
    background-image: url(img/foto.jpeg);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 20px;
}

.nright-sobremi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* INICIA SKILLS */
.menu-skills{
    background-image: url(img/background-contacto.avif);
    background-position: center;
    background-size: cover;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#073846;
    padding-bottom: 15px;
    background-color: white;
    
    
}

.languages-logo{
    height: 150px;
    width: 50%;
    /* border-radius: 8px 8px 0px 0px; */
    /* background-image: url(img/logo2.png);  */
    background-size: cover;
    background-position: center;
    
}

.article h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;

}

.article p{
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    
}

.button-skills{
    border: 2px solid #073846;
    background-color: #073846;
    border-radius: 20px;
    text-decoration: none;
    font-size: 25px;
    border-style:double;
    padding: 8px;
    color:white;
    box-shadow: 2px 1px #073846;
     
}

.button-skills:hover{
    background-color: #ef4d75;
    color: white;
}
/* FIN SKILLS */

/* Inicia PROYECTOS */
.proyectos {
    
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #F7F7F7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
}
.proyectos img{
    width: 550px;
    height: 400px;
}

/* fin PROYECTOS */


/* INICIA CONTACTAME */
.formulario{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.432);
    margin: auto;
    width: 90%;
    max-width: 300px;
    height: auto;
    padding: 72px 32px 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px; 
    text-align: center; 
}

.formulario input{
    font-family: 'Dosis', sans-serif;
    color: 777;
    padding: 0px 10px 0px 10px;   
    cursor: pointer; 
   
}

/* fin CONTACTAME */